<!-- HEADER :: BEGIN -->
<header>
    <!-- HEADER :: BRAND -->
    <div class="header-brand">
        <a href="/" class="header-brand-wrapper" >
            <img src="/assets/img/logo.png" alt="Venture Capital" class="header-brand-logo" />
        </a>
    </div>

    <!-- HEADER :: NAVIGATION -->
    <nav class="header-nav">
        <!-- HEADER :: MENU -->
        <div class="header-menu">
            <ul type="none" class="header-menu-items">
                <li>
                    <a href="javascript:alert('PROXIMAMENTE!');">Ofertas</a>
                </li>
                <li>
                    <a href="javascript:alert('PROXIMAMENTE!');">Ayuda</a>
                </li>
                <li>
                    <a href="javascript:alert('PROXIMAMENTE!');">Contacto</a>
                </li>
            </ul>
        </div>

        <!-- HEADER :: ACCOUNT -->
        <div class="header-account">
            <ul type="none" class="header-account-items">
                <li>
                    <a href="/login"><i class="far fa-user"></i></a>
                </li>
                <li>
                    <a href="javascript:alert('PROXIMAMENTE!');"><i class="fas fa-shopping-basket"></i></a>
                </li>
            </ul>
        </div>

        <!-- HEADER :: TRIGGER -->
        <div class="header-trigger">
            <div class="header-trigger-button">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </nav>
</header>
<!-- HEADER :: END -->
