<html>
<head>
    <%- include('../partials/metas.html') %>
    <%- include('../partials/styles.html') %>
</head>
<body>
    <%- include('../partials/header.html') %>

    <!-- MAIN :: BEGIN -->
    <main class="product-details my-5">
        <section class="product-detail">
            <div class="row">
                <!-- PRODUCT IMAGE AND TITLE -->
                <div class="column-1 md:column-2 product-images">
                    <article>
                        <figure>
                            <img src="<%= product.image %>" class="product-image" />
                        </figure>
                    </article>
                </div>

                <!-- PRODUCT DETAILS -->
                <div class="column-1 md:column-2 product-properties">
                    <h3 class="product-title"><%= product.title %></h3>
                    <p class="product-price"><%= product.price %></p>

                    <form class="form">
                        <div class="form-group">
                            <label for="product-quantity" class="form-label" >Cantidad</label>
                            <input type="number" id="product-quantity" name="product-quantity" class="product-quantity form-input" value="1" />
                        </div>

                        <div class="form-actions form-actions-end">
                            <button type="button" class="form-action"><i class="fas fa-cart-arrow-down" ></i> Agregar al carrito</button>
                        </div>
                    </form>

                    <div class="separator"></div>

                    <p class="product-description"><%- product.description %></p>
                    <div class="product-sheet">
                        <ul type="none">
                            <li class="product-sheet-item"><b>Autor</b>: <%- product.author %></li>
                            <li class="product-sheet-item"><b>Fecha de publicación</b>: <%- product.publishedAt %></li>
                            <li class="product-sheet-item"><b>Páginas</b>: <%- product.pages %></li>
                            <li class="product-sheet-item"><b>Idioma</b>: <%- product.language %></li>
                            <li class="product-sheet-item"><b>Formato</b>: <%- product.format %></li>
                            <li class="product-sheet-item"><b>Presentación</b>: <%- product.presentation %></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- MAIN :: END -->

    <%- include('../partials/footer.html') %>

    <%- include('../partials/scripts.html') %>
</body>
</html>
