<html>
<head>
    <title>Venture Capital</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="/assets/css/styles.css" rel="stylesheet" />
</head>
<body>
    <!-- HEADER :: BEGIN -->
    <header>
        <!-- HEADER :: BRAND -->
        <div class="header-brand">
            <a href="/" class="header-brand-wrapper" >
                <img src="/assets/img/logo.png" alt="Venture Capital" class="header-brand-logo" />
                <div class="header-brand-text">Venture Capital</div>
            </a>
        </div>

        <!-- HEADER :: NAVIGATION -->
        <nav class="header-nav">
            <div class="search-bar">
                <input type="search" name="searchBar" placeholder="Buscar libro">
                <button type="submit" name="searchBar"  value="searchBar"><i class="fas fa-search"></i></button>
            </div>
            <!-- HEADER :: MENU -->
            <div class="header-menu">
                <ul type="none" class="header-menu-items">
                    <li>
                        <a href="javascript:alert('PROXIMAMENTE!');">Ofertas</a>
                    </li>
                    <li>
                        <a href="javascript:alert('PROXIMAMENTE!');">Ayuda</a>
                    </li>
                    <li>
                        <a href="javascript:alert('PROXIMAMENTE!');">Contacto</a>
                    </li>
                </ul>
            </div>

            <!-- HEADER :: ACCOUNT -->
            <div class="header-account">
                <ul type="none" class="header-account-items">
                    <li>
                        <a href="/login"><i class="far fa-user"></i></a>
                    </li>
                    <li>
                        <a href="javascript:alert('PROXIMAMENTE!');"><i class="fas fa-shopping-basket"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- HEADER :: END -->

    <!-- BANNER :: BEGIN -->
    <div class="banner">
        <figure>
            <a href=""><img src="/assets/img/books/banner-01.jpg" alt="Banner" class="banner-image-01" width="100%"/></a>
            <a href=""><img src="/assets/img/books/banner-02.jpg" alt="Banner" class="banner-image-02" width="100%"/></a>
            <a href=""><img src="/assets/img/books/banner-03.jpg" alt="Banner" class="banner-image-03" width="100%"/></a>
            <a href=""><img src="/assets/img/books/banner-04.jpg" alt="Banner" class="banner-image-04" width="100%"/></a>
            <a href=""><img src="/assets/img/books/banner-05.jpg" alt="Banner" class="banner-image-05" width="100%"/></a>
            <a href=""><img src="/assets/img/books/banner-06.png" alt="Banner" class="banner-image-06" width="100%"/></a>
            <a href=""><img src="/assets/img/books/banner-07.png" alt="Banner" class="banner-image-07" width="100%"/></a>
            <a href=""><img src="/assets/img/books/banner-08.jpg" alt="Banner" class="banner-image-08" width="100%"/></a>
        </figure>
    </div>
    <!-- BANNER :: END -->

    <!-- MAIN :: BEGIN -->
    <main >
        <!-- ITEMS -->
        <div class="products-header">
            <h3 class="products-header-title">Basado en tu última visita</h3>
            <p class="products-header-subtitle">Pídelo para ti o para tus seres queridos.</p>
        </div>

        <section class="products">
            <article class="product">
                <div class="product-content">
                    <figure>
                        <img class="product-image" src="/assets/img/books/book-01.jpg" width="100%" />
                    </figure>
                    <div class="product-details">
                        <p class="product-price"><span class="product-amount">$2.900</span> <small class="product-offer">40% OFF</small></p>
                        <h4 class="product-description">Diego. Nacido para molestar</h4>
                    </div>
                </div>
            </article>

            <article class="product">
                <div class="product-content">
                    <figure>
                        <img class="product-image" src="/assets/img/books/book-02.jpg" width="100%" />
                    </figure>
                    <div class="product-details">
                        <p class="product-price"><span class="product-amount">$2.490</span> <small class="product-offer">20% OFF</small></p>
                        <h4 class="product-description">La Bestia</h4>
                    </div>
                </div>
            </article>

            <article class="product">
                <div class="product-content">
                    <figure>
                        <img class="product-image" src="/assets/img/books/book-03.jpg" width="100%" />
                    </figure>
                    <div class="product-details">
                        <p class="product-price"><span class="product-amount">$2.490</span> <small class="product-offer">10% OFF</small></p>
                        <h4 class="product-description">La Rueda del Tiempo nº 02/14 La Gran Cacería</h4>
                    </div>
                </div>
            </article>

            <article class="product">
                <div class="product-content">
                    <figure>
                        <img class="product-image" src="/assets/img/books/book-04.jpg" width="100%" />
                    </figure>
                    <div class="product-details">
                        <p class="product-price"><span class="product-amount">$1.460</span> <small class="product-offer">5% OFF</small></p>
                        <h4 class="product-description">La reina</h4>
                    </div>
                </div>
            </article>
        </section>

        <h3 class="products-header">Ofertas</h3>

        <section class="products">
            <article class="product">
                <div class="product-content">
                    <figure>
                        <img class="product-image" src="/assets/img/books/book-01.jpg" width="100%" />
                    </figure>
                    <div class="product-details">
                        <p class="product-price"><span class="product-amount">$2.900</span> <small class="product-offer">40% OFF</small></p>
                        <h4 class="product-description">Diego. Nacido para molestar</h4>
                    </div>
                </div>
            </article>

            <article class="product">
                <div class="product-content">
                    <figure>
                        <img class="product-image" src="/assets/img/books/book-02.jpg" width="100%" />
                    </figure>
                    <div class="product-details">
                        <p class="product-price"><span class="product-amount">$2.490</span> <small class="product-offer">20% OFF</small></p>
                        <h4 class="product-description">La Bestia</h4>
                    </div>
                </div>
            </article>

            <article class="product">
                <div class="product-content">
                    <figure>
                        <img class="product-image" src="/assets/img/books/book-03.jpg" width="100%" />
                    </figure>
                    <div class="product-details">
                        <p class="product-price"><span class="product-amount">$2.490</span> <small class="product-offer">10% OFF</small></p>
                        <h4 class="product-description">La Rueda del Tiempo nº 02/14 La Gran Cacería</h4>
                    </div>
                </div>
            </article>

            <article class="product">
                <div class="product-content">
                    <figure>
                        <img class="product-image" src="/assets/img/books/book-04.jpg" width="100%" />
                    </figure>
                    <div class="product-details">
                        <p class="product-price"><span class="product-amount">$1.460</span> <small class="product-offer">5% OFF</small></p>
                        <h4 class="product-description">La reina</h4>
                    </div>
                </div>
            </article>
        </section>
    </main>
    <!-- MAIN :: END -->

    <!-- FOOTER :: BEGIN -->
    <footer>
        <section>
            <article class="copyright">
                <p>Copyright © 1997-2021 Venture Capital S.R.L.</p>
            </article>
        </section>
    </footer>
    <!-- FOOTER :: END -->
</body>
</html>
