<html>
<head>
    <%- include('./partials/metas.html') %>
    <%- include('./partials/styles.html') %>
    <title>Venture Capital</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="/assets/css/styles.css" rel="stylesheet" />
</head>
<body>
    <%- include('./partials/header.html') %>

    <%- include('./partials/banner.html') %>

    <!-- MAIN :: BEGIN -->
    <main >
        <!-- ITEMS -->
        <div class="products-header">
            <h3 class="products-header-title">Basado en tu última visita</h3>
            <p class="products-header-subtitle">Pídelo para ti o para tus seres queridos.</p>
        </div>

        <section class="products">
            <article class="product">
                <div class="product-content">
                    <figure>
                        <img class="product-image" src="/assets/img/books/book-01.jpg" width="100%" />
                    </figure>
                    <div class="product-details">
                        <p class="product-price"><span class="product-amount">$2.900</span> <small class="product-offer">40% OFF</small></p>
                        <h4 class="product-description">Diego. Nacido para molestar</h4>
                    </div>
                </div>
            </article>

            <article class="product">
                <div class="product-content">
                    <figure>
                        <img class="product-image" src="/assets/img/books/book-02.jpg" width="100%" />
                    </figure>
                    <div class="product-details">
                        <p class="product-price"><span class="product-amount">$2.490</span> <small class="product-offer">20% OFF</small></p>
                        <h4 class="product-description">La Bestia</h4>
                    </div>
                </div>
            </article>

            <article class="product">
                <div class="product-content">
                    <figure>
                        <img class="product-image" src="/assets/img/books/book-03.jpg" width="100%" />
                    </figure>
                    <div class="product-details">
                        <p class="product-price"><span class="product-amount">$2.490</span> <small class="product-offer">10% OFF</small></p>
                        <h4 class="product-description">La Rueda del Tiempo nº 02/14 La Gran Cacería</h4>
                    </div>
                </div>
            </article>

            <article class="product">
                <div class="product-content">
                    <figure>
                        <img class="product-image" src="/assets/img/books/book-04.jpg" width="100%" />
                    </figure>
                    <div class="product-details">
                        <p class="product-price"><span class="product-amount">$1.460</span> <small class="product-offer">5% OFF</small></p>
                        <h4 class="product-description">La reina</h4>
                    </div>
                </div>
            </article>
        </section>

        <h3 class="products-header">Ofertas</h3>

        <section class="products">
            <article class="product">
                <div class="product-content">
                    <figure>
                        <img class="product-image" src="/assets/img/books/book-01.jpg" width="100%" />
                    </figure>
                    <div class="product-details">
                        <p class="product-price"><span class="product-amount">$2.900</span> <small class="product-offer">40% OFF</small></p>
                        <h4 class="product-description">Diego. Nacido para molestar</h4>
                    </div>
                </div>
            </article>

            <article class="product">
                <div class="product-content">
                    <figure>
                        <img class="product-image" src="/assets/img/books/book-02.jpg" width="100%" />
                    </figure>
                    <div class="product-details">
                        <p class="product-price"><span class="product-amount">$2.490</span> <small class="product-offer">20% OFF</small></p>
                        <h4 class="product-description">La Bestia</h4>
                    </div>
                </div>
            </article>

            <article class="product">
                <div class="product-content">
                    <figure>
                        <img class="product-image" src="/assets/img/books/book-03.jpg" width="100%" />
                    </figure>
                    <div class="product-details">
                        <p class="product-price"><span class="product-amount">$2.490</span> <small class="product-offer">10% OFF</small></p>
                        <h4 class="product-description">La Rueda del Tiempo nº 02/14 La Gran Cacería</h4>
                    </div>
                </div>
            </article>

            <article class="product">
                <div class="product-content">
                    <figure>
                        <img class="product-image" src="/assets/img/books/book-04.jpg" width="100%" />
                    </figure>
                    <div class="product-details">
                        <p class="product-price"><span class="product-amount">$1.460</span> <small class="product-offer">5% OFF</small></p>
                        <h4 class="product-description">La reina</h4>
                    </div>
                </div>
            </article>
        </section>
    </main>
    <!-- MAIN :: END -->

    <%- include('./partials/footer.html') %>

    <%- include('./partials/scripts.html') %>
</body>
</html>
