<html>
<head>
    <title>Venture Capital</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="/assets/css/styles.css" rel="stylesheet" />
</head>
<body>
    <!-- HEADER :: BEGIN -->
    <header>
        <!-- HEADER :: BRAND -->
        <div class="header-brand">
            <a href="/" class="header-brand-wrapper" >
                <img src="/assets/img/logo.png" alt="Venture Capital" class="header-brand-logo" />
                <div class="header-brand-text">Venture Capital</div>
            </a>
        </div>

        <!-- HEADER :: NAVIGATION -->
        <nav class="header-nav">
            <!-- HEADER :: MENU -->
            <div class="header-menu">
                <ul type="none" class="header-menu-items">
                    <li>
                        <a href="javascript:alert('PROXIMAMENTE!');">Ofertas</a>
                    </li>
                    <li>
                        <a href="javascript:alert('PROXIMAMENTE!');">Ayuda</a>
                    </li>
                    <li>
                        <a href="javascript:alert('PROXIMAMENTE!');">Contacto</a>
                    </li>
                </ul>
            </div>

            <!-- HEADER :: ACCOUNT -->
            <div class="header-account">
                <ul type="none" class="header-account-items">
                    <li>
                        <a href="/login"><i class="far fa-user"></i></a>
                    </li>
                    <li>
                        <a href="javascript:alert('PROXIMAMENTE!');"><i class="fas fa-shopping-basket"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- HEADER :: END -->

    <!-- MAIN :: BEGIN -->
    <main >
        <!-- ITEMS -->
        <h3 class="products-header">Basado en tu última visita</h3>

        <section class="products">
            <article class="product">
                <div class="product-content">
                    <figure>
                        <img class="product-image" src="/assets/img/books/book-01.jpg" width="100%" />
                    </figure>
                    <div class="product-details">
                        <div class="product-delivery"><i class="fas fa-truck"></i></div>
                        <p class="product-price"><span class="product-amount">$2.900</span> <small class="product-offer">40% OFF</small></p>
                        <h4 class="product-description">Diego. Nacido para molestar</h4>
                    </div>
                </div>
            </article>

            <article class="product">
                <div class="product-content">
                    <figure>
                        <img class="product-image" src="/assets/img/books/book-02.jpg" width="100%" />
                    </figure>
                    <div class="product-details">
                        <div class="product-delivery"><i class="fas fa-truck"></i></div>
                        <p class="product-price"><span class="product-amount">$2.490</span> <small class="product-offer">20% off</small></p>
                        <h4 class="product-description">La Bestia</h4>
                    </div>
                </div>
            </article>

            <article class="product">
                <div class="product-content">
                    <figure>
                        <img class="product-image" src="/assets/img/books/book-03.jpg" width="100%" />
                    </figure>
                    <div class="product-details">
                        <div class="product-delivery"><i class="fas fa-truck"></i></div>
                        <p class="product-price"><span class="product-amount">$2.490</span> <small class="product-offer">10% off</small></p>
                        <h4 class="product-description">La Rueda del Tiempo nº 02/14 La Gran Cacería</h4>
                    </div>
                </div>
            </article>

            <article class="product">
                <div class="product-content">
                    <figure>
                        <img class="product-image" src="/assets/img/books/book-04.jpg" width="100%" />
                    </figure>
                    <div class="product-details">
                        <div class="product-delivery"><i class="fas fa-truck"></i></div>
                        <p class="product-price"><span class="product-amount">$1.460</span> <small class="product-offer">5% off</small></p>
                        <h4 class="product-description">La reina</h4>
                    </div>
                </div>
            </article>
        </section>

        <h3 class="products-header">Ofertas</h3>

        <section class="products">
            <article class="product">
                <div class="product-content">
                    <figure>
                        <img class="product-image" src="/assets/img/books/book-01.jpg" width="100%" />
                    </figure>
                    <div class="product-details">
                        <div class="product-delivery"><i class="fas fa-truck"></i></div>
                        <p class="product-price"><span class="product-amount">$2.900</span> <small class="product-offer">40% OFF</small></p>
                        <h4 class="product-description">Diego. Nacido para molestar</h4>
                    </div>
                </div>
            </article>

            <article class="product">
                <div class="product-content">
                    <figure>
                        <img class="product-image" src="/assets/img/books/book-02.jpg" width="100%" />
                    </figure>
                    <div class="product-details">
                        <div class="product-delivery"><i class="fas fa-truck"></i></div>
                        <p class="product-price"><span class="product-amount">$2.490</span> <small class="product-offer">20% off</small></p>
                        <h4 class="product-description">La Bestia</h4>
                    </div>
                </div>
            </article>

            <article class="product">
                <div class="product-content">
                    <figure>
                        <img class="product-image" src="/assets/img/books/book-03.jpg" width="100%" />
                    </figure>
                    <div class="product-details">
                        <div class="product-delivery"><i class="fas fa-truck"></i></div>
                        <p class="product-price"><span class="product-amount">$2.490</span> <small class="product-offer">10% off</small></p>
                        <h4 class="product-description">La Rueda del Tiempo nº 02/14 La Gran Cacería</h4>
                    </div>
                </div>
            </article>

            <article class="product">
                <div class="product-content">
                    <figure>
                        <img class="product-image" src="/assets/img/books/book-04.jpg" width="100%" />
                    </figure>
                    <div class="product-details">
                        <div class="product-delivery"><i class="fas fa-truck"></i></div>
                        <p class="product-price"><span class="product-amount">$1.460</span> <small class="product-offer">5% off</small></p>
                        <h4 class="product-description">La reina</h4>
                    </div>
                </div>
            </article>
        </section>
    </main>
    <!-- MAIN :: END -->

    <!-- FOOTER :: BEGIN -->
    <footer>
        <section class="footer-features">
            <article class="footer-feature">
                <figure>
                    <i class="fas fa-credit-card"></i>
                </figure>
                <b class="footer-title">Pagá con tarjeta o en efectivo</b>
                <p class="footer-details">
                    Con Venture Capital Cash, tenés cuotas sin interés con tarjeta o efectivo en 
                    puntos de pago. ¡Y siempre es seguro!
                </p>
            </article>
            <article class="footer-feature">
                <figure>
                    <i class="fas fa-gift"></i>
                </figure>
                <b class="footer-title">Envío gratis desde $ 2.500</b>
                <p class="footer-details">
                    Solo por estar registrad@ en Venture Capital tenés envíos gratis en miles de 
                    productos. Es un beneficio de Mercado Puntos.
                </p>
            </article>
            <article class="footer-feature">
                <figure>
                    <i class="fas fa-user-shield"></i>
                </figure>
                <b class="footer-title">Seguridad, de principio a fin</b>
                <p class="footer-details">
                    ¿No te gusta? ¡Devolvelo! En Venture Capital, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.
                </p>
            </article>
        </section>
        <section>
            <article class="copyright">
                <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </article>
        </section>
    </footer>
    <!-- FOOTER :: END -->
</body>
</html>