<html>
<head>
    <%- include('./partials/metas.html') %>
    <%- include('./partials/styles.html') %>
</head>
<body>
    <%- include('./partials/header.html') %>

    <!-- MAIN :: BEGIN -->
    <main class="login">
        <section class="form-wrapper">
            <!-- FORM -->
            <form method="POST" action="/login" class="form">

                <!-- FORM :: ACCOUNT -->
                <div class="form-group form-group-center">
                    <input type="text" class="form-input" id="username" name="username" placeholder="Nombre de usuari@" />
                </div>
                <div class="form-group form-group-center">
                    <input type="password" class="form-input" id="password" name="password" placeholder="Contraseña" />
                </div>

                <div class="separator separator-dashed"></div>

                <!-- FORM :: ACTIONS -->
                <div class="form-actions form-actions-center">
                    <button type="submit" class="form-action-submit">Entrar</button>
                </div>
            </form>
        </section>
    </main>
    <!-- MAIN :: END -->

    <%- include('./partials/footer.html') %>

    <%- include('./partials/scripts.html') %>
</body>
</html>
