<html>
<head>
    <%- include('../partials/metas.html') %>
    <%- include('../partials/styles.html') %>
</head>
<body>
    <%- include('../partials/header.html') %>

    <%- include('../partials/banner.html') %>

    <!-- MAIN :: BEGIN -->
    <main >
        <!-- VIEWED -->
        <section>
            <div class="products-header">
                <h3 class="products-header-title">Basado en tu última visita</h3>
                <p class="products-header-subtitle">Pídelo para ti o para tus seres queridos.</p>
            </div>
            <div class="products">
                <!-- PRODUCTS -->
                <% products.forEach(product => { %>
                    <%- include('./product.html', { product }); %>
                <% }); %>
            </div>
        </section>

        <!-- CATEGORIES -->
        <section class="categories">
            <% categories.slice(0, 4).forEach(category => { %>
                <%- include('./category.html', { category }); %>
            <% }); %>
        </section>
    </main>
    <!-- MAIN :: END -->

    <%- include('../partials/footer.html', { categories }) %>

    <%- include('../partials/scripts.html') %>
</body>
</html>
