<article class="product" data-id="<%= product.id %>">
    <div class="product-content">
        <figure>
            <img class="product-image" src="<%= product.image %>" width="100%" />
        </figure>
        <div class="product-details">
            <p class="product-price">
                <span class="product-amount"><%= product.price %></span> <small class="product-offer"><%= product.offer %></small>
            </p>
            <h4 class="product-description"><%= product.title %></h4>
        </div>
    </div>
</article>
