.font-weight-normal {
    font-weight: normal !important;
}

.text-format {
    white-space: pre !important;
    text-align: center !important;
}

/*
// INDEX
*/

.countItem {
    position: relative;
    bottom: 10px;

}

span{
    font-size: 1.5rem;
}

/*
// CHECKOUT
*/

.payment-container {
    font-weight: bolder;
    font-size: var(--font-size-md);
}

.payment-content {
    display: none;
    font-weight: normal;
    font-size: var(--font-size);
}

.payment-checkbox:checked+.payment-content {
    display: block;
}
