.font-weight-normal {
    font-weight: normal !important;
}

/*
// INDEX
*/

.countItem {
    position: relative;
    bottom: 10px;

}

span{
    font-size: 1.5rem;
}

/*
// PAY
*/

.pay-title {
  white-space: pre;
  margin-bottom: 15px;
  color: darkgrey;
}

.cardInfo {
    display: none;
    margin: 15px 15px 0px 15px;
}

.show-cardInfo:checked + label .cardInfo {
    display: block; 
}

.cashInfo {
    display: none;
}

.show-cashInfo:checked + label .cashInfo {
    display: block; 
}

.cashInfo div {
    margin: 15px 15px 0px 15px;
}

.transferInfo {
    display: none;
}

.show-transferInfo:checked + label .transferInfo {
    display: block; 
}

.transferInfo p {
    margin: 15px 15px 0px 15px;
}

.box {
    margin: 0px 10px 0px 10px   ;
}

