/*
 * VARS
 */
:root {
  /* COLORS */
  --default: #f6f6f6;
  --primary: #56b280;
  --primary-dark: #369964;
  --primary-light: #82cea5;

  --red: #C13E18;
  --blue: #03264c;
  --cyan: #27ABDB;
  --cyan-dark: #0022aa;
  --green: #39b54a;
  --grey-dark: #666;
  --grey-light: #ebebeb;
  --grey-lighter: #ededed;
  --grey: #cccccc;
  --white: #fff;
  --black: #272727;
  --black-dark: #000000; 
  --orange: #DB9215;


  --instagram: #ca396d;
  --facebook: #3b5998;
  --twitter: #00aced;
  --enviar: #4CAF50;

  --bg-color-nav: #24201f;


  /* FONTS */
  --font-family: "Quicksand", Helvetica, Arial, sans-serif;
  --font-size: 14px;
  --font-size-sm: 12px;
  --font-size-md: 16px;
  --font-size-lg: 18px;
  --font-size-xl: 24px;
  --font-size-xxl: 32px;
  --font-size-big: 46px;

  /* ICONS */
  --icon-size-sm: 0.6rem;
  --icon-size: 1rem;
  --icon-size-lg: 1.1rem;
  --icon-size-xl: 1.4rem;

  /* SPACING */
  --spacing-sm: 10px;
  --spacing: 15px;
  --spacing-lg: 20px;
  --spacing-xl: 30px;
  --spacing-big: 50px;

  /* RADIUS */
  --radius: 5px;
  --rounded: 50px;
}

/*
 * NORMALIZE (simple)
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
 * ANIMATIONS
 */

@keyframes fade {
  0% {
    opacity: 1;
  }
  10.5% {
    opacity: 1;
  }
  12.5% {
    opacity: 0;
  }
  98% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*
 * GLOBAL
 */

body {
  background-color: var(--default);
  font-family: var(--font-family);
  font-size: var(--font-size);
}

input,
textarea,
select {
  font-family: var(--font-family);
  border: 1px solid var(--grey-light);
  border-radius: var(--radius);
  margin: 0;
  outline: 0;
  line-height: 1.5;
  padding: 0.5rem 1rem;
  font-size: 1em;
  background: var(--white);
  background-color: var(--default);
  border-color: var(--default);
  color: var(--grey-dark);
  transition: all 0.1s ease;
}

input:focus,
textarea:focus,
select:focus {
  background-color: var(--grey-light);
  border-color: var(--primary);
  color: var(--black);
}

::placeholder {
  color: var(--grey);
}

a,
a:link,
a:hover,
a:focus,
a:active {
  color: var(--black);
  text-decoration: none;
}

/*
 * HELPERS
 */
.separator {
  margin: var(--spacing) 0;
  border-bottom: 1px solid var(--primary);
  display: block;
  height: 0;
}

.separator.separator-dashed {
  border-bottom-style: dashed;
}

.required:after {
  content: "*";
  position: relative;
  font-size: inherit;
  color: var(--red);
  font-weight: bold;
}

.transition-all {
  transition: .4s ease-out;
}

/*
 * GENERICS
 */

/* GRID */
.container {
  padding-right: var(--spacing);
  padding-left: var(--spacing);
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 calc(var(--spacing-sm) * -1);
}

.row .column-1,
.row .column-2,
.row .column-3,
.row .column-4,
.row .column-5 {
  padding: var(--spacing-sm);
}

.row .column-1 {
  flex: 0 0 100%;
}

.row .column-2 {
  flex: 0 0 50%;
}

.row .column-3 {
  flex: 0 0 33%;
}

.row .column-4 {
  flex: 0 0 25%;
}

.row .column-5 {
  flex: 0 0 20%;
}

/* FLOAT */
.float-start {
  float: left !important;
}

.float-end {
  float: right !important;
}

.float-none {
  float: none !important;
}

/* OPACITY */
.opacity-0 {
  opacity: 0 !important;
}

.opacity-25 {
  opacity: 0.25 !important;
}

.opacity-50 {
  opacity: 0.5 !important;
}

.opacity-75 {
  opacity: 0.75 !important;
}

.opacity-100 {
  opacity: 1 !important;
}

/* TABLE */
.table {
  --bs-table-bg: transparent;
  --bs-table-accent-bg: transparent;
  --bs-table-striped-color: var(--black);
  --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
  --bs-table-active-color: var(--primary);
  --bs-table-active-bg: rgba(0, 0, 0, 0.1);
  --bs-table-hover-color: var(--primary);
  --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
  width: 100%;
  margin-bottom: var(--spacing);
  background-color: transparent;
  border-collapse: collapse;
  vertical-align: top;
  border-color: var(--grey-dark);
}

.table > :not(caption) > * > * {
  padding: 0.5rem 0.5rem;
  background-color: var(--bs-table-bg);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

.table > tbody {
  vertical-align: inherit;
}

.table > thead {
  vertical-align: bottom;
}

.table > :not(:first-child) {
  border-top: 2px solid currentColor;
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
  --bs-table-accent-bg: var(--bs-table-striped-bg);
  color: var(--bs-table-striped-color);
}

.table-hover > tbody > tr:hover > * {
  --bs-table-accent-bg: var(--bs-table-hover-bg);
  color: var(--bs-table-hover-color);
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

@media (max-width: 575.98px) {
  .table-responsive-sm {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}

@media (max-width: 767.98px) {
  .table-responsive-md {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}

@media (max-width: 991.98px) {
  .table-responsive-lg {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}

@media (max-width: 1199.98px) {
  .table-responsive-xl {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}

@media (max-width: 1399.98px) {
  .table-responsive-xxl {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}

.table {
  width: 100%;
  margin-bottom: var(--spacing);
  background-color: transparent;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: var(--spacing);
  vertical-align: top;
  border-top: 1px solid var(--grey-light);
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid var(--grey-light);
}

.table thead th,
.table thead td {
  font-weight: 600;
  font-size: var(--font-size);
  border-bottom-width: 1px;
  padding-top: var(--spacing);
  padding-bottom: var(--spacing);
}

.table thead td,
.table thead td {
  font-weight: 600;
  font-size: var(--font-size);
  border-bottom-width: 1px;
  padding-top: var(--spacing);
  padding-bottom: var(--spacing);
}

.table:not(.table-bordered) thead th,
.table:not(.table-bordered) thead td {
  border-top: 0;
}

/* DROPDOWN */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--grey-light);
  border-radius: var(--radius);
  min-width: 220px;
  left: -20px;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
  z-index: 1;
}

.dropdown-content a {
  border-radius: var(--radius);
  color: var(--black);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Dropdown Button */
.dropbtn {
  border: none;
  color: var(--black);
  background-color: inherit;
  font-family: var(--font-family);
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* TITLE AND SUBTITLE */
.title-subtitle {
  padding: var(--spacing-big) 0 var(--spacing-lg);
  font-size: var(--font-size-xl);
  text-align: center;
}

.title-subtitle .title-subtitle-title {
  text-align: center;
  font-weight: 900;
}

.title-subtitle .title-subtitle-subtitle {
  margin: var(--spacing-sm) 0 0;
  font-size: var(--font-size-md);
  color: var(--grey);
}

/* TOOLTIP */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  display:block;
  position:absolute;
  font-size: var(--font-size-sm);
  color:white;
}

[data-tooltip]:hover:before {
  border-radius: 0.2em;
  content: attr(title);
  background-color: var(--black);
  margin-top: -3.75em;
  padding: 0.3em;
}

[data-tooltip]:hover:after {
  content:'';
  margin-top: -1.4em;
  margin-left: .1em;
  border-style: solid;
  border-color: transparent;
  border-top-color: var(--black);
  border-width: 0.5em 0.5em 0 0.5em;
}

/* SYMBOL */
.symbol {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.symbol .symbol-media {
  border-radius: var(--radius);
  max-width: 100px;
  flex: 0 0 auto;
}

.symbol .symbol-content {
  margin-left: var(--spacing);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 0 0 auto;
}

.symbol .symbol-content .symbol-title {
  font-weight: 900;
}

.symbol .symbol-content .symbol-subtitle {
  margin-top: var(--spacing);
  font-weight: 300;
}

/* TEXT */
.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-primary {
  color: var(--primary) !important;
}

/* BUTTON */
.btn {
  display: inline-block;
  text-align: center;
  background-color: var(--primary);
  color: var(--white);
  border: none;
  border-radius: var(--radius);
  padding: var(--spacing-sm) var(--spacing);
  transition: all 250ms ease;
}

.btn:hover {
  background-color: var(--primary-dark);
}

.btn.btn-lg {
  padding: var(--spacing-sm) var(--spacing-lg);
}

.btn.btn-big {
  padding: var(--spacing-sm) var(--spacing-big);
}

.btn.btn-secondary {
  background-color: var(--grey-light);
  margin-left: var(--spacing);
  color: var(--black);
}

.btn:hover.btn-secondary {
  background-color: var(--grey);
}

/*
 * SIZES
 */
.w-100 {
  width: 100% !important;
}

.w-75 {
  width: 75% !important;
}

.w-50 {
  width: 50% !important;
}

.w-25 {
  width: 25% !important;
}

/*
 * POSITIONS
 */
.relative {
  position: relative;
}

/*
 * BADGE
 */
.badge {
  position: absolute;
  color: var(--black);
  bottom: 0;
  right: -12px;
  width: 1em;
  height: 1em;
  background-color: var(--primary);
  text-align: center;
  align-self: flex-end;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -12px;
  font-size: 0.8em;
  padding: 8px;
}

/*
 * HEADER
 */
header {
  display: flex;
  flex-direction: column;
  padding: var(--spacing);
  background-color: var(--default);
}

.header-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-nav .header-brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav .header-brand figure {
  flex-basis: 50%;
}

.header-nav .header-brand .header-brand-logo {
  height: 30px;
}

.header-nav .header-brand .header-brand-logo.header-brand-logo-dark {
  display: block;
}

.header-nav .header-brand .header-brand-logo.header-brand-logo-light {
  display: none;
}

.header-nav .header-search-wrapper {
  display: none;
  flex-basis: 30%;
  position: relative;
  margin: var(--spacing) 0;
}

.header-nav .header-search {
  background-color: var(--grey-light);
  border: 1px solid var(--grey-light);
  border-radius: var(--radius);
  padding: var(--spacing-sm);
  padding-right: calc(var(--font-size) + var(--spacing-sm));
  width: 100%;
  outline: 0;
}

.header-nav .header-search-icon {
  color: var(--primary);
  position: absolute;
  top: 13px;
  right: 10px;
}

.header-nav .header-search:hover,
.header-nav .header-search:focus {
  background-color: var(--white);;
}

.header-nav .header-menu {
  display: none;
  justify-content: center;
}

.header-nav .header-menu .header-menu-items {
  display: flex;
  flex-direction: row;
}

.header-nav .header-menu .header-menu-items li {
  padding: 0 var(--spacing-sm);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: var(--spacing-sm);
}

.header-nav a,
.header-nav a:hover,
.header-nav a:focus,
.header-nav a:active {
  color: var(--black);
  text-decoration: none;
}

.header-nav .header-nav-trigger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-nav .header-nav-trigger .burger-menu {
  display: inline-block;
  text-align: center;
  background-color: var(--cyan);
  color: var(--white);
  border-radius: var(--radius);
  padding: var(--spacing);
}

.header-nav .dark-mode-toggler {
  position: relative;
  display: block;
  width: 50px;
  height: 30px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  padding-top: 2px;
  margin-bottom: 0;
}

.header-nav .dark-mode-toggler:before {
  content: "";
  text-align: right;
  position: relative;
  top: 0px;
  left: 0px;
  width: 39px;
  height: 22px;
  font-size: 10px;
  display: block;
  background: var(--grey);
  border-radius: 30px;
  -webkit-transition: background .2s ease;
  -o-transition: background .2s ease;
  transition: background .2s ease;
  padding: 2px 8px;
}

#dark-mode-toggler:checked+.dark-mode-toggler:before {
  background: var(--grey);
  content: '';
  text-align: left;
  color: var(--black);
}

.header-nav .dark-mode-toggler span {
  position: absolute;
  top: 3px;
  left: 31px;
  width: 24px;
  height: 24px;
  display: block;
  background: var(--primary);
  border-radius: 50%;
  -webkit-box-shadow: 0 3px 8px rgb(0 0 0 / 20%);
  box-shadow: 0 3px 8px rgb(0 0 0 / 20%);
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}


#dark-mode-toggler:checked+.dark-mode-toggler span,
#dark-mode-toggler:checked+.dark-mode-toggler span {
  background: var(--primary);
  -webkit-transform: translateX(31px);
  -ms-transform: translateX(31px);
  transform: translateX(-31px);
  -webkit-transition: all .2s cubic-bezier(.8,.4,.3,1.25) , background .15s ease;
  -o-transition: all .2s cubic-bezier(.8,.4,.3,1.25) , background .15s ease;
  transition: all .2s cubic-bezier(.8,.4,.3,1.25) , background .15s ease;
  -webkit-box-shadow: 0 3px 8px rgb(86, 178, 128 / 70%);
  box-shadow: 0 3px 8px rgb(86, 178, 128 / 70%);
}

.custom-control-label{
  width: 50px;
}

/*
 * FOOTER
 */
footer {
  background-color: var(--black);
  padding: var(--spacing);
  text-align: left;
}

footer h3 {
  color: var(--grey-light);
  text-align: center;
  margin: var(--spacing) 0;
  font-size: var(--font-size-lg);
}

footer .row {
  padding-top: var(--spacing-lg);
}

.footer-categories,
.footer-help,
.footer-social,
.footer-brand {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 0;
}

.footer-categories li {
  margin-top: var(--spacing);
}

.footer-categories i {
  color: var(--grey);
  font-size: var(--font-size-sm);
  width: var(--icon-size-sm);
  margin-right: var(--spacing-sm);
}

.footer-categories span:hover{
  color: var(--primary-light);
  font-weight:bold;
  transition: 0.2s ease-out;
}

.footer-categories span {
  color: var(--grey);
  font-size: var(--font-size-sm);
}

.footer-help {
  font-size: var(--font-size-sm);
}

.footer-help li {
  margin-top: var(--spacing);
}

.footer-help a {
  color: var(--grey);
  transition: 0.2s ease-out;
}

.footer-help a:hover{
  color: var(--primary-light);
  font-weight:bold;
}

.footer-social a {
  display: inline-block;
  width: var(--icon-size-xl);
  height: var(--icon-size-xl);
  line-height: var(--icon-size-xl);
  margin-top: var(--spacing);
  margin-right: var(--spacing-sm);
  margin-bottom: var(--spacing);
  text-align: center;
  color: inherit;
  font-size: var(--font-size-lg);
  border-radius: var(--radius);
  opacity: 0.8;
  transition: 0.4s ease-out;
}

.footer-social {
  flex-direction: row;
}

.footer-social a {
  color: var(--grey);
}

.footer-social a:last-child {
  margin-right: 0;
}

.footer-social a.social-instagram:hover {
  color: var(--instagram);
}

.footer-social a.social-facebook:hover {
  color: var(--facebook);
}

.footer-social a.social-twitter:hover {
  color: var(--twitter);
}

.footer-brand {
  margin: var(--spacing) 0;
}

.footer-brand-logo {
  width: 50%;
}

.footer-brand-legend {
  color: var(--grey);
}

footer .copyright {
  font-size: var(--font-size-sm);
  margin: var(--spacing-big) 0 0;
  color: var(--grey-dark);
  text-align: left;
}

/*
 * MAIN
 */
main {
  width: 90%;
  margin: 0 auto;
  padding-bottom: var(--spacing);
}

.site li a {
  color: var(--primary-light);
    font-weight:bold;
}

.site li a:hover{
  text-decoration: underline;
}

#mail {
  color: var(--primary-light);
}

/*
 * BANNER
 */
.banners {
  display: none;
}

.banners-list {
  position: relative;
}

.banners-list .banner {
  display: none;
}

.banners-list .banner .banner-number {
  color: var(--grey-light);
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.banners-list .banner-action-previous,
.banners-list .banner-action-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: calc(var(--spacing-lg) * -1);
  padding: var(--spacing);
  color: var(--white);
  font-weight: bold;
  font-size: var(--font-size-md);
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.banners-list .banner-action-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.banners-list .banner-action-previous:hover,
.banners-list .banner-action-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.banners-dots {
  display: flex;
  justify-content: center;
  margin-top: var(--spacing);
}

.banners-dots .banner-dot {
  cursor: pointer;
  height: var(--icon-size-sm);
  width: var(--icon-size-sm);
  margin: 0 2px;
  background-color: var(--grey);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.banners-dots .banner-dot.active,
.banners-dots .banner-dot:hover {
  background-color: #717171;
}

/*
 * FORMS
 */
.form-wrapper {
  width: 100%;
  border-radius: var(--radius);
  background-color: var(--white);
  padding: var(--spacing);
  margin: var(--spacing) auto var(--spacing-sm);
}

.form-group {
  margin-bottom: var(--spacing);
}

.form-group.form-group-inline {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: var(--spacing-sm);
}

.form-group.form-group-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: var(--spacing-sm);
}

.form-group.form-group-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: var(--spacing-sm);
}

.form-group .form-label {
  font-size: var(--font-size);
  font-weight: bold;
  margin-bottom: var(--spacing-sm);
  display: block;
}

.form-group .form-help {
  font-size: var(--font-size-sm);
  font-weight: lighter;
  color: var(--grey-dark);
  margin-top: var(--spacing-sm);
  display: block;
}

.form-group .form-input[type="text"],
.form-group .form-input[type="number"],
.form-group .form-input[type="date"],
.form-group .form-input[type="file"],
.form-group .form-input[type="email"],
.form-group .form-input[type="password"],
.form-group .form-textarea,
.form-group .form-select {
  width: 100%;
}

.form-groups {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.form-groups.form-groups-inline {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.form-groups.form-groups-inline .form-group.form-group-inline {
  margin-bottom: 0;
}

.form-group.form-group-inline .form-label {
  font-size: var(--font-size);
  margin-bottom: 0;
}

.form-group.form-group-inline .form-input.form-input-radio,
.form-group.form-group-inline .form-input.form-input-checkbox {
  margin-right: var(--spacing-sm);
}

.form-input-wrapper {
  position: relative;
}

.form-input-wrapper input.form-input-start,
.form-input-wrapper select.form-input-start {
  padding-left: calc(var(--spacing-lg) + var(--spacing));
}

.form-input-wrapper input.form-input-end,
.form-input-wrapper select.form-input-end {
  padding-right: calc(var(--spacing-lg) + var(--spacing));
}

.form-input-icon {
  position: absolute;
  top: 14px;
}

.form-input-icon.form-input-icon-start {
  left: var(--spacing);
}

.form-input-icon.form-input-icon-end {
  right: var(--spacing);
}

.form-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.form-actions.form-actions-center {
  justify-content: center;
}

.form-actions.form-actions-end {
  justify-content: flex-end;
}

.form-actions .form-action,
.form-actions .form-action-submit,
.form-actions .form-action-reset,
.form-actions .form-action-cancel {
  display: inline-block;
  text-align: center;
  background-color: var(--primary);
  color: var(--white);
  border: none;
  border-radius: var(--radius);
  padding: var(--spacing-sm) var(--spacing);
  transition: all 250ms ease;
}

.form-actions .form-action-reset,
.form-actions .form-action-cancel {
  background-color: var(--grey-light);
  color: var(--black);
  margin-left: var(--spacing);
}

.form-actions .form-action:hover,
.form-actions .form-action-submit:hover {
  background-color: var(--primary-dark);
}

.form-actions .form-action:disabled,
.form-actions .form-action-submit:disabled,
.form-actions .form-action-reset:disabled,
.form-actions .form-action-cancel:disabled {
  background-color: var(--primary-light);
}

/*
 * VALIDATIONS
 */

.feedback,
.error-validation {
  margin-top: var(--spacing-sm);
  font-size: var(--font-size-sm);
  font-weight: lighter;
}

.error-validation {
  display: none !important;
}

.is-valid {
  color: var(--primary);
}

.is-valid + .error-validation {
  display: none !important;
}

.is-invalid {
  color: var(--red);
}

.is-invalid + .error-validation,
.error-validation.error-validation-show {
  display: block !important;
  color: var(--red);
}

/*
 * PRODUCTS
 */

.products .product .product-content {
  padding: var(--spacing);
  margin: var(--spacing-sm);
  border-radius: var(--radius);
  background-color: var(--white);
  font-size: var(--font-size-md);
  transition: box-shadow 500ms ease;
}

.products .product .product-details {
  position: relative;
  padding-top: var(--spacing);
}

.products .product .product-details .product-busket {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 10px;
  top: -50px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.8);
  width: 40px;
  height: 40px;
  box-shadow: 0 2px 10px white;
}

.products .product:hover .product-details .product-busket {
  display: flex;
}

.products .product .product-details .product-busket i {
  color: var(--primary);
}

.products .product .product-title {
  margin-bottom: var(--spacing-sm);
}

.products .product .product-price {
  display: flex;
  align-items: flex-end;
}

.products .product .product-price .product-amount {
  flex-grow: 0.3;
  font-size: var(--font-size-lg);
}

.products .product .product-price .product-offer {
  flex-grow: 0.7;
  margin-left: var(--spacing);
  color: var(--green);
}

.products .product .product-image {
display: flex;
justify-content: center;
width: 100%;
object-fit: fill;
height: 350px !important;
}

/*
 * CATEGORIES
 */
.categories .category {
  height: 170px;
}

.categories .category,
.categories .category .category-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing);
  border-radius: var(--radius);
  transition: all 500ms ease;
}

.categories .category .category-content figure {
  padding: var(--spacing-sm);
  font-size: var(--font-size-xl);
  transition: all 250ms ease;
}

.categories .category .category-content-separator {
  width: 0;
  max-width: 80%;
  height: 1px;
  margin: 0;
  display: inline-block;
  background-color: var(--grey);
  margin: var(--spacing-sm) 0;
  transition: all 500ms cubic-bezier(1, 0, 0.6, 1);
}

.categories .category:hover .category-content-separator {
  margin: var(--spacing-lg) 0;
  width: 150px;
}

/*
 * PRODUCT DETAILS
 */

.product-description,.product-sheet {
  font-size: var(--font-size-md);
} 

.product-details .product-detail .product-images {
  padding-right: var(--spacing);
}

.product-details .product-detail .product-image {
  border-radius: var(--radius);
  width: auto;
}

.product-details .product-detail .product-image.product-image-large {
  position: relative;
  width: 70%;
  height: 70%;
}

.product-details .product-detail .product-properties {
  padding-left: var(--spacing);
}

.product-details .product-detail .product-title {
  font-size: var(--font-size-xl);
  font-weight: 900;
  text-align: left;
}

.product-details .product-properties .product-price {
  color: var(--primary);
  margin-top: var(--spacing);
  font-size: var(--font-size-xl);
  font-weight: 900;
}

.product-details .product-properties .separator {
  margin: var(--spacing-lg) 0;
}

.product-details .product-properties .form {
  margin-top: var(--spacing);
}

.product-details .product-properties .form .form-action {
  padding-left: var(--spacing-big);
  padding-right: var(--spacing-big);
}

.product-details .product-properties .form .form-action i {
  margin-right: var(--spacing);
}

.product-details .product-properties .product-quantity {
  width: 80px;
}

.product-details .product-properties .product-sheet {
  margin-top: var(--spacing-lg);
  border: 1px solid var(--grey);
  border-radius: var(--radius);
}

.product-details .product-properties .product-sheet .product-sheet-item {
  margin: var(--spacing);
}

/*
* ADMIN
*/

.functions-admin {
  display: flex;
  justify-content: space-around;
  padding: 30px;
}

.title-admin {
  text-align: center;
  padding: 30px;
}

.create-title {
  text-align: center;
  margin: 30px;
}

/*
 * PRODUCT DETAILS
 */

.client-register {
  text-align: center;
}

/*
 * ACCOUNT
 */

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

/*
 * RESPONSIVE
 */

/*
 * TABLETS :: Medium devices (tablets, 361px and up)
 */
@media (min-width: 361px) {
  /*
     * GENERICS
     */
  /* GRID */
  .row .md\:column-1 {
    flex: 0 0 100%;
  }

  .row .md\:column-2 {
    flex: 0 0 50%;
  }

  .row .md\:column-3 {
    flex: 0 0 33%;
  }

  .row .md\:column-4 {
    flex: 0 0 25%;
  }

  .row .md\:column-5 {
    flex: 0 0 20%;
  }

  /*
     * FOOTER
     */
  footer {
    padding-top: var(--spacing-big);
  }

  footer h3 {
    text-align: left;
  }

  .footer-categories, .footer-help, .footer-social, .footer-brand {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-brand-logo {
    width: 75%;
  }

  /*
     * PRODUCTS
     */
  .products .product .product-details {
    min-height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 500ms ease;
  }

  .products .product:hover .product-content {
    box-shadow: 0px 0px 10px var(--grey);
  }
}

/*
 * DESKTOP :: Large devices (desktops, 769px and up)
 */
@media (min-width: 769px) {
  /*
     * GENERICS
     */
  /* GRID */
  .container {
    width: 750px;
  }

  .row .lg\:column-1 {
    flex: 0 0 100%;
  }

  .row .lg\:column-2 {
    flex: 0 0 50%;
  }

  .row .lg\:column-3 {
    flex: 0 0 33%;
  }

  .row .lg\:column-4 {
    flex: 0 0 25%;
  }

  .row .lg\:column-5 {
    flex: 0 0 20%;
  }

  /*
   * SIZES
   */
  .lg\:w-100 {
    width: 100% !important;
  }

  .lg\:w-75 {
    width: 75% !important;
  }

  .lg\:w-50 {
    width: 50% !important;
  }

  .lg\:w-25 {
    width: 25% !important;
  }

  /*
   * HEADER
   */
  header {
    padding: var(--spacing) 15%;
  }

  .header-nav {
    flex-direction: row;
    align-items: center;
  }

  .header-nav .header-brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: auto;
  }

  .header-nav .header-brand .header-brand-logo {
    height: 36px;
  }

  .header-nav .header-search-wrapper {
    display: block;
    margin: 0;
  }

  .header-nav .header-menu {
    display: flex;
    justify-content: space-between;
  }

  .header-nav .header-menu ul {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
  }

  .header-nav .header-menu-trigger {
    display: none;
  }
  
  /*
     * FOOTER
     */
  footer {
    padding: var(--spacing-big) 15%;
  }

  .footer-brand-logo {
    width: 80%;
  }

  /*
     * MAIN
     */
  main {
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
    margin: 0;
  }

  main.main-fluid {
    padding-left: 5%;
    padding-right: 5%;
  }


  /*
   * BANNER
   */
  .banners {
    display: block;
  }

  /*
     * FORMS
     */
  .form-wrapper {
    width: 60vw;
  }

  .form-group .form-input[type="text"],
  .form-group .form-input[type="number"],
  .form-group .form-input[type="file"],
  .form-group .form-input[type="date"],
  .form-group .form-input[type="email"],
  .form-group .form-input[type="password"] {
    width: 50%;
  }

  .form-group .form-group-center{
    display: flex;
    flex-direction: column;
  }

  .feedback {
    margin: 20px;
    color: red;
  }

  .form-regretful{
  display: flex;
  justify-content: center;
  background-color: var(--grey-light)
  }

  #regretful {
    width: 50%;
    margin-top: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
  }

  #regretful input {
    margin-bottom: 10px;
  }

  #comentarios {
    margin-top: 10px;
    height: 120px;
    margin-bottom: 25px;
  }

  .form-contact{
  display: flex;
  justify-content: center;
  background-color: var(--grey-light);
  }

  #contact {
    width: 50%;
    margin-top: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
  }


  #contact input,
  #contact select,
  #contact textarea {
    margin-bottom: 10px;
  }

  #contact .enviar {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  }

  .enviar:hover {
    background-color: #45a049;
  }
  
  /*
     * CAPTCHA
     */

  #captchaBackground {
    height: 75px;
    width: 150px;
    background-color: var(--facebook);
    align-items: center;
  }

  #captchaHeading {
    font-family: var(--font-family);
    font-size: 14px;
    color: var(--black-dark);
  }

  #captcha {
    position: relative;
    font-size: large;
    height: 100%;
    width: 100%;
    letter-spacing: 3px;
    margin: auto;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .captcha-buttons {
    padding-top: 10px;
    display: flex;
    justify-content: center;
  }

  #submitButton {
    width: 120px;
    height: 40px;
    text-align: center;
    background-color: var(--primary);
    color: var(--white);
    border: none;
    border-radius: var(--radius);
    transition: all 250ms ease;
    margin-right: 10px;
    padding: 8px 16px;
  }

  #submitButton:hover {
    background-color: #369964;
  }

  #refreshButton {
    width: 120px;
    height: 40px;
    text-align: center;
    background-color: var(--primary);
    color: var(--white);
    border: none;
    border-radius: var(--radius);
    transition: all 250ms ease;
    padding: 8px 16px;
  }

  #refreshButton:hover {
    background-color: #369964;
  }

  #textBox {
    margin-top: 10px;
    height: 30px;
    width: 150px;
    align-items: center;
  }

  #output {
    text-align: center;
  }

  .incorrectCaptcha {
    color: #ff0000;
  }
  .correctCaptcha {
    color: #7fff00;
  }

  /*
     * LOGIN
     */
  .login {
    padding: var(--spacing-big) 0;
  }
}
