
/*
 * Dark Mode
 */

[data-theme="dark"] {
  background-color: var(--grey-dark) !important;
  color: var(--grey);
}

[data-theme="dark"] .category-title {
  background-color: var(--grey-dark);
  color: var(--grey);
}

[data-theme="dark"] header {
  background-color: var(--black);
  color: var(--grey);
}

[data-theme="dark"] header .header-menu-items i {
  color: var(--grey);
}

[data-theme="dark"] .header-nav .header-brand .header-brand-logo.header-brand-logo-dark {
  display: none;
}

[data-theme="dark"] .header-nav .header-brand .header-brand-logo.header-brand-logo-light {
  display: block;
}

[data-theme="dark"] .products .product .product-content {
  background-color: var(--black);
  color: var(--grey);
}

[data-theme="dark"] .products .product .product-details,
[data-theme="dark"] .products .product .product-title,
[data-theme="dark"] .products .product .product-price,
[data-theme="dark"] .category-icon {
  color: var(--grey);
}

[data-theme="dark"] .form-wrapper {
  background-color: var(--black);
}


/*
 * Toogler icon Styles
 */
.theme-switch-wrapper .bi-sun,
.theme-switch-wrapper .bi-moon-fill {
  color: white; 
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  cursor:pointer;
  width:12px;
  height:12px
 }

.theme-switch-wrapper .bi-sun {
  right:1px
}

.theme-switch-wrapper .bi-moon-fill {
  left:6px
}