/*
 * VARS
 */
:root {
    /* COLORS */
    --primary: #F6F6F6;

    --blue: #03264C;
    --cyan: #1259c3;
    --cyan-dark: #0022AA;
    --green: #39b54a;
    --grey-dark: #666;
    --grey-light: #ebebeb;
    --grey: #cccccc;
    --white: #FFF;
    --black: #272727;

    --instagram: #CA396D;
    --facebook: #3b5998;
    --twitter: #00aced;

    /* FONTS */
    --font-family: 'Quicksand', Helvetica, Arial, sans-serif;;
    --font-size: 14px;
    --font-size-sm: 12px;
    --font-size-md: 16px;
    --font-size-lg: 18px;
    --font-size-xl: 24px;
    --font-size-xxl: 32px;
    --font-size-big: 46px;

    /* ICONS */
    --icon-size-sm: .6rem;
    --icon-size: 1rem;
    --icon-size-lg: 1.1rem;
    --icon-size-xl: 1.4rem;

    /* SPACING */
    --spacing-sm: 10px;
    --spacing: 15px;
    --spacing-lg: 20px;
    --spacing-big: 50px;

    /* RADIUS */
    --radius: 5px;
    --rounded: 50px;
}

/*
 * NORMALIZE (simple)
 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
 * GLOBAL
 */
body {
    background-color: var(--primary);
    font-family: var(--font-family);
    font-size: var(--font-size);
}

input {
    border: 1px solid var(--grey-light);
    border-radius: var(--radius);
    margin: 0;
    outline: 0;
    line-height: 1.5;
    padding: 0.5rem 1rem;
    font-size: 1em;
    background: var(--white);
    color: rgba(0, 0, 0, .8);
    transition: all .1s ease;
}

input:focus {
    border-color: var(--cyan);
}

a,
a:link,
a:hover,
a:focus,
a:active {
    color: var(--black);
    text-decoration: none;
}

/*
 * HELPERS
 */
.separator {
    margin: var(--spacing) 0;
    border-bottom: 1px solid var(--grey-light);
    display: block;
    height: 0;
}

.separator.separator-dashed {
    border-bottom-style: dashed;
}

/*
 * GENERICS
 */

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 calc(var(--spacing-sm) * -1);
}

.row .column-1,
.row .column-2,
.row .column-3,
.row .column-4,
.row .column-5 {
    padding: var(--spacing-sm);
}

.row .column-1 {
    flex: 0 0 100%;
}

.row .column-2 {
    flex: 0 0 50%;
}

.row .column-3 {
    flex: 0 0 33%;
}

.row .column-4 {
    flex: 0 0 25%;
}

.row .column-5 {
    flex: 0 0 20%;
}

.title-subtitle {
    padding: var(--spacing-big) 0 var(--spacing-lg);
    font-size: var(--font-size-xl);
    text-align: center;
}

.title-subtitle .title-subtitle-title {
    text-align: center;
    font-weight: 900;
}

.title-subtitle .title-subtitle-subtitle {
    margin: var(--spacing-sm) 0 0;
    font-size: var(--font-size-md);
    color: var(--grey);
}

/*
 * HEADER
 */
header {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: var(--spacing);
    background-color: var(--primary);
}

.header-brand {
    flex-basis: 40%;
}

.header-brand .header-brand-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-brand .header-brand-logo {
    height: 32px;
}

.header-brand .header-brand-text {
    color: var(--white);
    font-size: var(--font-size-lg);
    margin-left: var(--spacing);
}

.header-nav {
    display: flex;
    justify-content: flex-end;
    flex-basis: 60%;
}

.header-nav .header-menu-items,
.header-nav .header-account-items {
    display: none;
    margin-top: var(--spacing);
}

.header-nav .header-trigger {
    display: block;
    margin-top: var(--spacing);
}

.header-nav .header-menu-items li,
.header-nav .header-account-items li {
    padding: 0 var(--spacing-sm);
}

.header-nav .header-menu-items i,
.header-nav .header-account-items i {
    font-size: var(--icon-size-lg);
    margin-left: var(--spacing-sm);
}

.header-nav .header-trigger i {
    font-size: var(--icon-size-lg);
}

.header-nav .header-nav-trigger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-nav .header-nav-trigger .burger-menu {
    display: inline-block;
    text-align: center;
    background-color: var(--cyan);
    color: var(--white);
    border-radius: var(--radius);
    padding: var(--spacing);
}

/*
 * FOOTER
 */
footer {
    background-color: var(--black);    
    padding: var(--spacing);
    text-align: left;
}

footer h3 {
    color: var(--grey-light);
    text-align: center;
    margin: var(--spacing) 0;
}

footer .row {
    padding-top: var(--spacing-lg);
}

.footer-categories,
.footer-help,
.footer-social,
.footer-brand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-categories li {
    margin-top: var(--spacing);
}

.footer-categories i {
    color: var(--grey);
    font-size: var(--font-size-sm);
    width: var(--icon-size-sm);
    margin-right: var(--spacing-sm);
}

.footer-categories span {
    color: var(--grey);
    font-size: var(--font-size-sm);
}

.footer-help {
    font-size: var(--font-size-sm);
}

.footer-help li {
    margin-top: var(--spacing);
}

.footer-help a {
    color: var(--grey);
}

.footer-social a {
    display: inline-block;
    width: var(--icon-size-xl);
    height: var(--icon-size-xl);
    line-height: var(--icon-size-xl);
    margin-top: var(--spacing);
    margin-right: var(--spacing-sm);
    margin-bottom: var(--spacing);
    text-align: center;
    color: inherit;
    font-size: var(--font-size-lg);
    border-radius: var(--radius);
    opacity: 0.8;
    transition: .4s ease-out;
}

.footer-social {
    flex-direction: row;
}

.footer-social a {
    color: var(--grey);
}

.footer-social a:last-child {
    margin-right: 0;
}

.footer-social a.social-instagram:hover {
    color: var(--instagram);
}

.footer-social a.social-facebook:hover {
    color: var(--facebook);
}

.footer-social a.social-twitter:hover {
    color: var(--twitter);
}

.footer-brand {
    margin: var(--spacing) 0;
}

.footer-brand-logo {
    width: 50%;
}

.footer-brand-legend {
    color: var(--grey);
}

footer .copyright {
    font-size: var(--font-size-sm);
    margin: var(--spacing-big) 0 0;
    color: var(--grey-dark);
    text-align: left;
}

/*
 * MAIN
 */
main {
    width: 90%;
    margin: 0 auto;
    padding-bottom: var(--spacing-sm);
}

/*
 * BANNER
 */
.banners-list {
    position: relative;
}

.banners-list .banner {
    display: none;
}

.banners-list .banner .banner-number {
    color: var(--grey-light);
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.banners-list .banner-action-previous,
.banners-list .banner-action-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: calc(var(--spacing-lg) * -1);
    padding: var(--spacing);
    color: var(--white);
    font-weight: bold;
    font-size: var(--font-size-md);
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.banners-list .banner-action-next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.banners-list .banner-action-previous:hover,
.banners-list .banner-action-next:hover {
    background-color: rgba(0,0,0,0.8);
}

.banners-dots {
    display: flex;
    justify-content: center;
    margin-top: var(--spacing);
}

.banners-dots .banner-dot {
    cursor: pointer;
    height: var(--icon-size);
    width: var(--icon-size);
    margin: 0 2px;
    background-color: var(--grey);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.banners-dots .banner-dot.active,
.banners-dots .banner-dot:hover {
    background-color: #717171;
}

/*
 * FORMS
 */
.form-wrapper {
    width: 100%;
    border-radius: var(--radius);
    background-color: var(--white);
    padding: var(--spacing);
    margin: var(--spacing) auto var(--spacing-sm);
}

.form-group {
    margin-bottom: var(--spacing);
}

.form-group.form-group-inline {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: var(--spacing-sm);
}

.form-group.form-group-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: var(--spacing-sm);
}

.form-group .form-label {
    font-size: var(--font-size);
    font-weight: bold;
    margin-bottom: var(--spacing-sm);
    display: block;
}

.form-group .form-input[type=text],
.form-group .form-input[type=date],
.form-group .form-input[type=file],
.form-group .form-input[type=email],
.form-group .form-input[type=password] {
    width: 100%;
}

.form-groups {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.form-groups.form-groups-inline {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.form-groups.form-groups-inline .form-group.form-group-inline {
    margin-bottom: 0;
}

.form-group.form-group-inline .form-label {
    font-size: var(--font-size);
    margin-bottom: 0;
}

.form-group.form-group-inline .form-input.form-input-radio,
.form-group.form-group-inline .form-input.form-input-checkbox {
    margin-right: var(--spacing-sm);
}

.form-actions.form-actions-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.form-actions .form-action-submit,
.form-actions .form-action-reset {
    display: inline-block;
    text-align: center;
    background-color: var(--cyan);
    color: var(--white);
    border: none;
    border-radius: var(--radius);
    padding: var(--spacing-sm) var(--spacing);
    transition: all 250ms ease;
}

.form-actions .form-action-reset {
    background-color: var(--grey-light);
    color: var(--black);
    margin-left: var(--spacing);
}

.form-actions .form-action-submit:hover {
    background-color: var(--cyan-dark);
}

/*
 * PRODUCTS
 */
.products .product .product-content {
    padding: var(--spacing);
    margin: var(--spacing-sm);
    border-radius: var(--radius);
    background-color: var(--white);
    font-size: var(--font-size-md);
    transition: box-shadow 500ms ease;
}

.products .product .product-details {
    position: relative;
    padding-top: var(--spacing);
}

.products .product .product-title {
    margin-bottom: var(--spacing-sm);
}

.products .product .product-price {
    display: flex;
    align-items: flex-end;
}

.products .product .product-price .product-amount {
    flex-grow: 0.3;
    font-size: var(--font-size-lg);
}

.products .product .product-price .product-offer {
    flex-grow: 0.7;
    margin-left: var(--spacing);
    color: var(--green);
}

/*
 * CATEGORIES
 */
.categories .category {
    height: 170px;
}

.categories .category,
.categories .category .category-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--spacing);
    border-radius: var(--radius);
    transition: all 500ms ease;
}

.categories .category .category-content figure {
    padding: var(--spacing-sm);
    font-size: var(--font-size-xl);
    transition: all 250ms ease;
}

.categories .category .category-content-separator {
    width: 0;
    max-width: 80%;
    height: 1px;
    margin: 0;
    display: inline-block;
    background-color: var(--grey);
    margin: var(--spacing-sm) 0;
    transition: all 500ms cubic-bezier(1.000,0,.6,1);
}

.categories .category:hover .category-content-separator {
    margin: var(--spacing-lg) 0;
    width: 150px;
}

/*
 * PRODUCT DETAILS
 */
.product-details .product-detail .product-images {
    padding-right: var(--spacing);
}

.product-details .product-detail .product-image {
    border-radius: var(--radius);
    width: 100%;
}

.product-details .product-detail .product-properties {
    padding-left: var(--spacing);
}

.product-details .product-detail .product-title {
    font-size: var(--font-size-xl);
    font-weight: 900;
    text-align: left;
}

/*
 * RESPONSIVE
 */

/*
 * TABLETS :: Medium devices (tablets, 361px and up)
 */
@media (min-width: 361px) {
    /*
     * GENERICS
     */
    .row .md\:column-1 {
        flex: 0 0 100%;
    }

    .row .md\:column-2 {
        flex: 0 0 50%;
    }

    .row .md\:column-3 {
        flex: 0 0 33%;
    }

    .row .md\:column-4 {
        flex: 0 0 25%;
    }

    .row .md\:column-5 {
        flex: 0 0 20%;
    }

    /*
     * HEADER
     */
    .header-brand .header-brand-logo {
        height: 36px;
    }

    .header-nav .header-nav-items {
        display: flex;
        justify-content: space-between;
    }

    .header-nav .header-nav-items ul {
        margin-top: 0;
        display: flex;
        justify-content: space-between;
    }

    .header-nav .header-nav-trigger {
        display: none;
    }

    /*
     * FOOTER
     */
    footer {
        padding-top: var(--spacing-big);
    }

    footer h3 {
        text-align: left;
    }

    .footer-categories,
    .footer-help,
    .footer-social,
    .footer-brand {
        justify-content: flex-start;
        align-items: flex-start;
    }

    .footer-brand-logo {
        width: 75%;
    }

    /*
     * PRODUCTS
     */
    .products .product .product-details {
        min-height: 65px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: all 500ms ease;
    }

    .products .product:hover .product-content {
        box-shadow: 0px 0px 10px var(--grey);
    }
}

/*
 * DESKTOP :: Large devices (desktops, 769px and up)
 */
@media (min-width: 769px) {
    /*
     * GENERICS
     */
    .container {
        width: 750px;
    }

    .row .lg\:column-1 {
        flex: 0 0 100%;
    }

    .row .lg\:column-2 {
        flex: 0 0 50%;
    }

    .row .lg\:column-3 {
        flex: 0 0 33%;
    }

    .row .lg\:column-4 {
        flex: 0 0 25%;
    }

    .row .lg\:column-5 {
        flex: 0 0 20%;
    }

    /*
     * HEADER
     */
    header {
        padding: var(--spacing) 15%;
    }

    .header-brand .header-brand-logo {
        height: 42px;
    }

    .header-nav {
        justify-content: space-between;
    }

    .header-nav .header-menu-items,
    .header-nav .header-account-items {
        display: flex;
        justify-content: space-between;
    }

    .header-nav .header-trigger {
        display: none;
    }

    /*
     * FOOTER
     */
    footer {
        padding: var(--spacing-big) 15%;
    }

    .footer-brand-logo {
        width: 80%;
    }

    /*
     * MAIN
     */
    main {
        width: 100%;
        padding-left: 15%;
        padding-right: 15%;
        margin: 0;
    }

    /*
     * FORMS
     */
    .form-wrapper {
        width: 60vw;
    }

    .form-group .form-input[type=text],
    .form-group .form-input[type=date],
    .form-group .form-input[type=file],
    .form-group .form-input[type=email], .form-group .form-input[type=password] {
        width: 50%;
    }

    /*
     * LOGIN
     */
    .login {
        padding: var(--spacing-big) 0;
    }
}
