<html>
<head>
    <%- include('./partials/metas.html') %>
    <%- include('./partials/styles.html') %>
</head>
<body>
    <%- include('./partials/header.html') %>

    <!-- MAIN :: BEGIN -->
    <main>
        <section class="form-wrapper">
            <!-- FORM -->
            <form method="POST" action="/register" class="form">
                <!-- FORM :: PERSONAL DATA -->
                <div class="form-group">
                    <label class="form-label">Datos personales</label>
                    <input type="text" class="form-input" id="fullname" name="fullname" placeholder="Nombre y apellido" />
                </div>
                <div class="form-group">
                    <label for="borndate" class="form-label">Fecha de nacimiento</label>
                    <input type="date" class="form-input" id="borndate" name="borndate" placeholder="mm/dd/yyyy" min="1910-01-01" max="2021-12-31" />
                </div>
                <div class="form-group">
                    <input type="text" class="form-input" id="address" name="address" placeholder="Domicilio" />
                </div>

                <div class="separator separator-dashed"></div>

                <!-- FORM :: ACCOUNT -->
                <div class="form-group">
                    <label class="form-label">Cuenta</label>
                    <input type="text" class="form-input" id="username" name="username" placeholder="Nombre de usuari@" />
                </div>
                <div class="form-group">
                    <input type="password" class="form-input" id="password" name="password" placeholder="Contraseña" />
                </div>
                <div class="form-group">
                    <input type="password" class="form-input" id="confirm_password" name="confirm_password" placeholder="Confirmar contraseña" />
                </div>

                <div class="separator separator-dashed"></div>

                <!-- FORM :: ROLE -->
                <div class="form-group">
                    <label class="form-label">Perfil del usuario</label>
                    <div class="form-groups form-groups-inline">
                        <div class="form-group form-group-inline">
                            <input type="radio" class="form-input form-input-radio" id="role_buyer" name="role" value="1" />
                            <label for="role_buyer" class="form-label">Comprador</label>
                        </div>
                        <div class="form-group form-group-inline">
                            <input type="radio" class="form-input form-input-radio" id="role_seller" name="role" value="2" />
                            <label for="role_seller" class="form-label">Vendedor</label>
                        </div>
                    </div>
                </div>

                <div class="separator separator-dashed"></div>

                <!-- FORM :: INTEREST -->
                <div class="form-group">
                    <label class="form-label">Interés</label>
                    <div class="form-groups">
                        <div class="form-group form-group-inline">
                            <input type="checkbox" class="form-input form-input-checkbox" id="category_electro" name="categories[]" value="1" />
                            <label for="category_electro" class="form-label">Electro</label>
                        </div>
                        <div class="form-group form-group-inline">
                            <input type="checkbox" class="form-input form-input-checkbox" id="category_moda" name="categories[]" value="2" />
                            <label for="category_moda" class="form-label">Moda</label>
                        </div>
                        <div class="form-group form-group-inline">
                            <input type="checkbox" class="form-input form-input-checkbox" id="category_hogar" name="categories[]" value="3" />
                            <label for="category_hogar" class="form-label">Hogar</label>
                        </div>
                        <div class="form-group form-group-inline">
                            <input type="checkbox" class="form-input form-input-checkbox" id="category_jugueteria" name="categories[]" value="4" />
                            <label for="category_jugueteria" class="form-label">Juguetería</label>
                        </div>
                        <div class="form-group form-group-inline">
                            <input type="checkbox" class="form-input form-input-checkbox" id="category_vida_sana" name="categories[]" value="5" />
                            <label for="category_vida_sana" class="form-label">Vida sana</label>
                        </div>
                    </div>
                </div>

                <div class="separator separator-dashed"></div>

                <!-- FORM :: AVATAR -->
                <div class="form-group">
                    <label for="avatar" class="form-label">Foto</label>
                    <input type="file" class="form-input" id="avatar" name="avatar" placeholder="Subir foto" />
                </div>

                <div class="separator separator-dashed"></div>

                <!-- FORM :: ACTIONS -->
                <div class="form-actions">
                    <button type="submit" class="form-action-submit">Enviar</button>
                    <button type="reset" class="form-action-reset">Limpiar</button>
                </div>
            </form>
        </section>
    </main>
    <!-- MAIN :: END -->

    <%- include('./partials/footer.html') %>

    <%- include('./partials/scripts.html') %>
</body>
</html>
