<!-- BANNER :: BEGIN -->
<div class="banners">
    <div class="banners-list">
        <div class="banner fade show">
            <div class="banner-number">1 / 4</div>
            <figure>
                <a href="/">
                <img src="/assets/img/banners/banner-04.jpg" class="banner-image" style="width: 100%">
                </a>
            </figure>
        </div>

        <div class="banner fade show">
            <div class="banner-number">2 / 4</div>
            <figure>
                <img src="/assets/img/banners/banner-01.jpg" class="banner-image" style="width: 100%">
            </figure>
        </div>

        <div class="banner fade show">
            <div class="banner-number">3 / 4</div>
            <figure>
                <img src="/assets/img/banners/banner-02.jpg" class="banner-image" style="width: 100%">
            </figure>
        </div>

        <div class="banner fade show">
            <div class="banner-number">4 / 4</div>
            <figure>
                <img src="/assets/img/banners/banner-03.jpg" class="banner-image" style="width: 100%">
            </figure>
        </div>

        <a class="banner-action-previous" onclick="app.banner.changeSlides(-1)">&#10094;</a>
        <a class="banner-action-next" onclick="app.banner.changeSlides(1)">&#10095;</a>
    </div>

    <div class="banners-dots">
        <span class="banner-dot" onclick="app.banner.currentSlide(1)"></span>
        <span class="banner-dot" onclick="app.banner.currentSlide(2)"></span>
        <span class="banner-dot" onclick="app.banner.currentSlide(3)"></span>
        <span class="banner-dot" onclick="app.banner.currentSlide(4)"></span>

    </div>
</div>
<!-- BANNER :: END -->
