<!-- FOOTER :: BEGIN -->
<footer>
    <section>
        <div class="separator"></div>
        <div class="row">
            <div class="column-1 md:column-5">
                <div class="footer-brand">
                    <img src="/assets/img/logo-light.png" alt="Bookify" class="footer-brand-logo" />
                </div>
                <p class="footer-brand-legend">
                    <em>Para viajar lejos, no hay mejor nave que <strong>un libro</strong></em>
                </p>
            </div>
            <div class="column-1 md:column-5">
                <!-- EMPTY COLUMN STRATEGY -->
            </div>
            <div class="column-1 md:column-5">
                <h3>Categorías</h3>
                <ul type="none" class="footer-categories">
                    <% categories.forEach(category => { %>
                        <li>
                            <a href="javascript:void(0);" data-href="/categories/<%= category.slug %>">
                                <i class="<%= category.icon %>"></i> <span><%= category.title %></span>
                            </a>
                        </li>
                    <% }); %>
                </ul>
            </div>
            <div class="column-1 md:column-5">
                <h3>Atención al Cliente</h3>
                <ul type="none" class="footer-help">
                    <li>
                        <a href="/contact">
                            Contacto
                        </a>
                    </li>
                    <li>
                        <a href="/help">
                            Preguntas Frecuentes
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            Medios de Pago
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            Política de cookies
                        </a>
                    </li>
                    <li>
                        <a href="/privacy">
                            Política de privacidad
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            Devoluciones
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            Garantía
                        </a>
                    </li>
                    <li>
                        <a href="/regretful">
                            Arrepentimiento de compra
                        </a>
                    </li>
                </ul>
            </div>
            <div class="column-1 md:column-5">
                <h3>Redes</h3>
                <div class="footer-social">
                    <a target="_blank" class="social-instagram" href="https://instagram.com/bookify"><i class="fab fa-instagram"></i></a>
                    <a target="_blank" class="social-facebook" href="https://www.facebook.com/bookify"><i class="fab fa-facebook"></i></a>
                    <a target="_blank" class="social-twitter" href="http://twitter.com/bookify"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p>Copyright © 2021 Bookify. Todos los derechos reservados</p>
        </div>
    </section>
</footer>
<!-- FOOTER :: END -->
