<html>
<head>
    <%- include('../partials/metas.html') %>
    <%- include('../partials/styles.html') %>
</head>
<body>
    <%- include('../partials/header.html') %>

    <!-- MAIN :: BEGIN -->
    <main class="product-details">
        <section class="product-detail">
            <div class="row">
                <!-- PRODUCT IMAGE AND TITLE -->
                <div class="md:column-2 column-1 product-images">
                    <article>
                        <figure>
                            <img src="<%= product.image %>" class="product-image" />
                        </figure>
                    </article>
                </div>

                <!-- PRODUCT DETAILS -->
                <div class="md:column-2 column-1 product-properties">
                    <h3 class="product-title"><%= product.title %></h3>
                </div>
            </div>
        </section>
    </main>
    <!-- MAIN :: END -->

    <%- include('../partials/footer.html') %>

    <%- include('../partials/scripts.html') %>
</body>
</html>
